<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{$prodVersion := print .Page.Params.product " " .Page.Params.version }}
  <title>{{ .Page.Title }} | {{ $prodVersion | default .Site.Title -}}</title>

  <!-- Fonts for the theme -->
  <link href="https://fonts.googleapis.com/css?family=Oxygen|Oxygen+Mono:300,400,700" rel="stylesheet">

  <!-- Theme stylesheet, you can customize scss by creatig `assets/custom.scss` in your website -->
  <!-- WHERE Hugo pipes in and compiles book.scss-->
  {{ $styles := resources.Get "book.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
  {{ if .Site.Params.pdfExport }}
    {{ $styles := resources.Get "book.scss" | resources.ToCSS | resources.Minify }}
  {{ end }}
  
  <!-- Favicon -->
  <link rel="icon" href="{{ "icons/favicon.png" | relURL }}" type="image/x-icon">

  <!-- RSS -->
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ "<!--" | safeHTML }}
  Made with Book Theme
  https://github.com/alex-shpak/hugo-book
  {{ "-->" | safeHTML }}

  <!-- clipboard.js support -->
  {{ $jsCodeCopy := resources.Get "js/codecopy.js"}}
  <script src = "{{ $jsCodeCopy.RelPermalink }}"> </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>


<body>
  {{ if not .Site.Params.pdfExport }}
  <input type="checkbox" style="display: none" id="menu-control" />
  <!-- INSERT article page header -->
  <header id="site-nav">
    <div class="header-wrapper flex">
      <a href="/">
        <img src="/header-logo.png" alt="Cumulus Networks">
        <img src="/cumulus-networks-rt-white.svg" alt="Cumulus Networks" class="header-mobile">
      <span> Docs</span>
      </a>
      <ul class="flex">
        <li><a href="//cumulusnetworks.com">HOME</a></li>
        <li><a href="//support.cumulusnetworks.com/">SUPPORT</a></li>
        <li><a href="//docs.cumulusnetworks.com/">DOCS</a></li>
        <li><a href="//education.cumulusnetworks.com">EDUCATION</a></li>
        <li><a href="//cumulusnetworks.com/blog/">BLOG</a></li>
        <li><a href="//forums.cumulusnetworks.com/">FORUMS</a></li>
      </ul>
      <div class="burger-menu">
      <span>  </span>
      <span>  </span>
      <span>  </span>
      </div>
    </div>
  </header>
  <div id="product-nav" class="flex">
    <div class="menu-container">
      <!-- generates subnav memu from config.toml -->
      {{ $currentProduct := .Params.product}}
      <ul>
      {{ range .Site.Menus.subnav}}
        <li{{ with eq $currentProduct .Title }} class = "active" {{ end }}><a href = {{.URL}} >
          {{.Title}} </a> </li>
      {{ end }}
        <li>
          <div id="products-dropdown" class="dropdown">
              <button class="btn" type="button" id="dropdownMenuButton">
                Products
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {{range .Site.Menus.dropnav}}
                <a class="dropdown-item" href={{.URL}}>{{.Title}}</a>
                  {{ end }}
              </div>
          </div>
        </li>
      </ul>
      <div class="productMenu-dropdown">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="siteMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cumulus Linux
          </button>
          <ul class="dropdown-menu" aria-lablledby="siteMenuButton">
            {{ range .Site.Menus.subnav}}
              <li class="dropdown-item"><a href={{.URL}}>
                {{.Title}} </a> </li>
            {{ end }}
            <li>
              <a href="#" class="dropdown-item dropdown-toggle" id="productsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
              <ul class="dropdown-menu multi-level" aria-lablledby="productsDropdown" style="display:none;">
                {{range .Site.Menus.dropnav}}
                  <li><a class="dropdown-item" href={{.URL}}>{{.Title}}</a></li>
                {{ end }}
              </ul>
            </li>
          </ul>
        </div>
      </div> <!-- productMenu-dropdown -->
    </div>
    <div class="search-container">
      <div class="screen-layout">
        <a class="default" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;}</style></defs><title>layout-3</title><rect class="a" x="0.5" y="0.497" width="22" height="22" rx="1" ry="1"/><line class="a" x1="7.5" y1="6.497" x2="7.5" y2="22.497"/><line class="a" x1="15.5" y1="6.513" x2="15.5" y2="22.497"/><line class="a" x1="0.5" y1="6.497" x2="22.5" y2="6.497"/></svg></a>
        <a class="sb-right" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;}</style></defs><title>layout-6</title><rect class="a" x="0.5" y="0.497" width="22" height="22" rx="1" ry="1"/><line class="a" x1="0.5" y1="6.497" x2="22.5" y2="6.497"/><line class="a" x1="15.5" y1="6.497" x2="15.5" y2="22.497"/></svg></a>
        <a class="sb-left" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;}</style></defs><title>layout-1</title><rect class="a" x="0.5" y="0.497" width="22" height="22" rx="1" ry="1"/><line class="a" x1="0.5" y1="6.497" x2="22.5" y2="6.497"/><line class="a" x1="7.5" y1="6.539" x2="7.5" y2="22.497"/></svg></a>
        <a class="no-sb" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;}</style></defs><title>layout-top</title><rect class="a" x="0.5" y="0.497" width="22" height="22" rx="1" ry="1"/><line class="a" x1="0.5" y1="6.497" x2="22.5" y2="6.497"/></svg></a>
      </div>
      <form action="/search/" method="GET">
        <div id="doc-search-box">
          <input type="text" name="q" class="doc-search-input" placeholder="Search">
          <span>
            <button type="submit">
              <img src="/icons/search_20x20.svg" alt="">
            </button>
          </span>
        </div>
      </form>
      <div id="dropdown" class="dropdown">
          <button class="btn" type="button" id="dropdownMenuButton">
            v{{.Page.Params.version}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{range where .Site.Sections "Params.product" $currentProduct}}
            <a class = "dropdown-item" href = "{{ .RelPermalink }}"> v{{.Params.version}}</a>
            {{ end }}
            {{range where .Site.Pages "Section" "version"}}
             {{ if eq .Params.product $currentProduct }}
             {{ if .Params.subsection}}
            <a class = "dropdown-item" href = "{{ .RelPermalink }}"> v{{.Params.version}}</a>
            {{ end }}
            {{ end }}
            {{ end }}
          </div>
      </div>
    </div>
  </div>

  <!--  Mobile nav -->
  <div id="mobile-product-nav">
    <div class="m-top-nav">
      <div class="flex justify-between align-center">
        <div class="product-dropdown">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cumulus Linux
            </button>
            <ul class="dropdown-menu" aria-lablledby="siteMenuButton">
              {{ range .Site.Menus.subnav}}
                <li class="dropdown-item"><a href={{.URL}}>
                  {{.Title}} </a> </li>
              {{ end }}
              <li>
                <a href="#" class="dropdown-item dropdown-toggle" id="productsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                <ul class="dropdown-menu multi-level" aria-lablledby="productsDropdown" style="display:none;">
                  {{range .Site.Menus.dropnav}}
                    <li><a class="dropdown-item" href={{.URL}}>{{.Title}}</a></li>
                  {{ end }}
                </ul>
              </li>
            </ul>
          </div> <!-- product dropdown -->
        </div>
        <div class="version-dropdown">
          <div id="dropdown" class="dropdown">
            <button class="btn" type="button" id="dropdownMenuButton">
              v{{.Page.Params.version}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{range where .Site.Sections "Params.product" $currentProduct}}
              <a class = "dropdown-item" href = "{{ .RelPermalink }}"> v{{.Params.version}}</a>
              {{ end }}
              {{range where .Site.Pages "Section" "version"}}
               {{ if eq .Params.product $currentProduct }}
               {{ if .Params.subsection}}
              <a class = "dropdown-item" href = "{{ .RelPermalink }}"> v{{.Params.version}}</a>
              {{ end }}
              {{ end }}
              {{ end }}
            </div>
          </div> <!-- version dropdown -->
        </div>
        </div>


    </div>  <!-- first 2 divs -->

    <div class="m-bottom-nav flex justify-between search-container">
      <div class="screen-layout">
        <a class="no-sb" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;}</style></defs><title>layout-top</title><rect class="a" x="0.5" y="0.497" width="22" height="22" rx="1" ry="1"/><line class="a" x1="0.5" y1="6.497" x2="22.5" y2="6.497"/></svg></a>
        <a class="sb-right" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;}</style></defs><title>layout-6</title><rect class="a" x="0.5" y="0.497" width="22" height="22" rx="1" ry="1"/><line class="a" x1="0.5" y1="6.497" x2="22.5" y2="6.497"/><line class="a" x1="15.5" y1="6.497" x2="15.5" y2="22.497"/></svg></a>
        <a class="sb-left" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;}</style></defs><title>layout-1</title><rect class="a" x="0.5" y="0.497" width="22" height="22" rx="1" ry="1"/><line class="a" x1="0.5" y1="6.497" x2="22.5" y2="6.497"/><line class="a" x1="7.5" y1="6.539" x2="7.5" y2="22.497"/></svg></a>
      </div>
      <div id="m-doc-search-box">
        <input type="search" name="search" class="m-doc-search-input" placeholder="Search">
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;}</style></defs><title>search-1</title><circle class="a" cx="10.5" cy="10.5" r="10"/><line class="a" x1="23.5" y1="23.5" x2="17.571" y2="17.571"/></svg>
        </a>
      </div>
    </div> <!-- search-container -->
  </div> <!-- mobile product nav -->
  {{ end }}

  <main class="flex container">
    {{ if not .Site.Params.pdfExport }}
    <aside class="book-menu fixed">

      <nav role="navigation">
        <h2 class="book-brand">
          <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </h2>
        <!-- branch to list.html or single.html -->
        {{ block "menu" . }}


         {{ partial "docs/menu-sectiontree" . }}

         {{ end }}
      </nav>

      <!-- pipes in /assets/js and bundles into $jsMenu-->
      {{ $jsScroll := resources.Get "js/menu.js" }}
      {{ $jsCollapse := resources.Get "js/collapse.js"}}
      {{ $jsCustom := resources.Get "js/custom.js" }}
      {{ $jsMenu := slice $jsScroll $jsCollapse $jsCustom | resources.Concat "js/menuBundle.js"}}

      <script src = "{{ $jsMenu.RelPermalink }}"> </script>


    </aside>
    {{ end }}

    <div class="book-page">
    {{ if not .Site.Params.pdfExport }}

      <!-- default mobile header from themes/book -->
      <!-- <header class="align-center justify-between book-header">
        <label for="menu-control">
          <img src="{{ "svg/menu.svg" | relURL }}" alt="Menu" />
        </label>
        <strong>{{- .Page.Title -}}</strong>
      </header> -->
    {{ end }}

      <!-- branch to list.html or single.html -->
      {{ block "main" . }}


      {{ end }}

    </div>
    <!-- branch to list.html or single.html -->

      {{ block "toc" .}}


      {{ end }}

  </main>
  {{ if not .Site.Params.pdfExport }}
  <footer class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer-content">
            <div class="mb-4">
                <img src="https://static.cumulusnetworks.com/static/images/shared/cumulus-networks-rt-white-trademarked.ff839f1b2570.svg">
                <p>© <script type="text/javascript">document.write(new Date().getFullYear());</script> Cumulus Networks.<br>
                Site by <a href="//unomena.com/" target="_blank">Unomena</a>.</p>
            </div>
            <ul class="mb-4">
              <li><h4>Products</h4></li>
              <li><a href="//cumulusnetworks.com/products/cumulus-linux/">Cumulus Linux</a></li>
              <li><a href="//cumulusnetworks.com/products/netq/">Cumulus NetQ</a></li>
              <li><a href="//cumulusnetworks.com/products/cumulus-express/">Cumulus Express</a></li>
            </ul>
            <ul class="mb-4">
              <li><h4>Learn</h4></li>
              <li><a href="//cumulusnetworks.com/learn/web-scale-networking-education/">Going web-scale</a></li>
              <li><a href="//cumulusnetworks.com/learn/events/">Events</a></li>
              <li><a href="//cumulusnetworks.com/blog/">Blog</a></li>
            </ul>
            <ul class="mb-4">
              <li><h4>About</h4></li>
              <li><a href="//cumulusnetworks.com/about/">Our story</a></li>
              <li><a href="//cumulusnetworks.com/about/careers/">Careers</a></li>
              <li><a href="//cumulusnetworks.com/about/media-coverage/">Media coverage</a></li>
              <li><a href="//docs.cumulusnetworks.com/" target="_blank">Tech docs</a></li>
              <li><a href="//cumulusnetworks.com/community/">Community</a></li>
            </ul>
            <ul>
              <li>
                <a href="//twitter.com/CumulusNetworks/" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <defs>
                      <style>
                        .a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round}
                      </style>
                    </defs>
                    <path class="a" d="M23 6.628l-2-.5 1-2-2.464.7A4.48 4.48 0 0 0 12 8.128v1c-3.539.73-6.634-1.2-9.5-4.5q-.75 4 1.5 6l-3-.5c.405 2.069 1.362 3.7 4 4l-2.5 1c1 2 2.566 2.31 5 2.5a10.748 10.748 0 0 1-6.5 2c12.755 5.669 20-2.664 20-10V8.3z"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="//www.facebook.com/CumulusNetworks/" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <defs>
                      <style>
                      .a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round}
                      </style>
                    </defs>
                    <path class="a" d="M17.768 7.5H13.5V5.6a.972.972 0 0 1 1.012-1.1c.418 0 2.988.01 2.988.01V.5h-4.329C9.244.5 8.5 3.474 8.5 5.355V7.5h-3v4h3v12h5v-12h3.851z"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="//linkedin.com/company/cumulus-networks/" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <defs>
                      <style>
                      .a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round}
                      </style>
                    </defs>
                    <path class="a" d="M6.5 22.5h-5v-13h5zm9-9a2 2 0 0 0-2 2v7h-5v-13h5v1.485a6.307 6.307 0 0 1 3.99-1.495c2.962 0 5.01 2.2 5.01 6.355V22.5h-5v-7a2 2 0 0 0-2-2zM6.5 5A2.5 2.5 0 1 1 4 2.5 2.5 2.5 0 0 1 6.5 5z"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="//vimeo.com/CumulusNetworks/" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <defs>
                      <style>
                        .a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round}
                      </style>
                    </defs>
                    <path class="a" d="M.5 7.393l.933 1.224S3.36 7.1 4 7.859s3.1 9.925 3.915 11.617c.714 1.483 2.684 3.444 4.845 2.042s9.34-7.529 10.626-14.769-8.642-5.723-9.693.583c2.627-1.577 4.03.642 2.686 3.154s-2.569 4.145-3.211 4.145-1.135-1.679-1.868-4.613c-.76-3.035-.755-8.5-3.911-7.882C4.412 2.721.5 7.393.5 7.393z"></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="//www.github.com/cumulusnetworks/" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <defs>
                        <style>
                        .a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round}
                        </style>
                    </defs>
                    <path class="a" d="M19.459 17c0-5.969-4.126-3.532-7.5-3.532s-7.5-2.375-7.5 3.532a3.5 3.5 0 0 0 3.5 3.5h8a3.5 3.5 0 0 0 3.5-3.5z"></path>
                    <path class="a" d="M21.489 10.214l.032.023s2.646-4.572-.6-7.237c-2 0-5.058 3.3-5.058 3.3l.022.016A14.152 14.152 0 0 0 8.1 6.3C8.083 6.285 5.037 3 3.042 3c-3.173 2.6-.729 7.012-.614 7.217a8.876 8.876 0 0 0-1.395 5.743c.241 3.126 2.847 6.54 5.982 6.54H16.9c3.135 0 5.742-3.414 5.982-6.54a8.857 8.857 0 0 0-1.393-5.746z"></path>
                    <ellipse class="a" cx="15.48" cy="17" rx="1" ry="1.5"></ellipse>
                    <ellipse class="a" cx="8.48" cy="17" rx="1" ry="1.5"></ellipse>
                  </svg>
                </a>
              </li>
              <li>
                <a href="//www.instagram.com/cumulusnetworks/" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <defs>
                        <style>
                        .a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round}
                        </style>
                    </defs>
                    <rect class="a" x=".5" y=".5" width="23" height="23" rx="6" ry="6"></rect>
                    <circle class="a" cx="12" cy="12" r="6"></circle>
                    <circle class="a" cx="19" cy="5" r="1.5"></circle>
                  </svg>
                </a>
              </li>
              <li>
                <p>Cumulus Networks<sup>®</sup> — Data center networking software for the open, modern data center.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="footer-bottom">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <ul>
                      <li><a href="//cumulusnetworks.com/legal/trademarks/">Trademarks</a></li>
                      <li><a href="//cumulusnetworks.com/legal/privacy/">Privacy</a></li>
                      <li><a href="//cumulusnetworks.com/legal/">Terms of service</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

  <!-- internal Hugo template for google analytics -->
  {{ template "_internal/google_analytics_async.html" . }}
  <script type="text/javascript">
    (function() {
      var didInit = false;
      function initMunchkin() {
        if(didInit === false) {
          didInit = true;
          Munchkin.init('628-LMQ-951');
        }
      }
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//munchkin.marketo.net/munchkin.js';
      s.onreadystatechange = function() {
        if (this.readyState == 'complete' || this.readyState == 'loaded') {
          initMunchkin();
        }
      };
      s.onload = initMunchkin;
      document.getElementsByTagName('head')[0].appendChild(s);
    })();
  </script>
  <script>
       window._6si = window._6si || [];
       window._6si.push(['enableEventTracking', true]);
       window._6si.push(['setToken', '520947e1dc042c7896ad79e98cc7702e']);
       window._6si.push(['setEndpoint', 'b.6sc.co']);

       (function() {
           var gd = document.createElement('script');
           gd.type = 'text/javascript';
           gd.async = true;
           gd.src = '//j.6sc.co/6si.min.js';
           var s = document.getElementsByTagName('script')[0];
           s.parentNode.insertBefore(gd, s);
       })();
   </script>


  <script>
    (function(w,d,s){var f=d.getElementsByTagName(s)[0],j=d.createElement(s);j.async=true;j.src='//embeddable-widgets-usw2.insided.com/cumulusnetworks-en.insided-conversational.js';f.parentNode.insertBefore(j,f);})(window,document,'script');
  </script>
  {{ end }}

</body>

</html>
