<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="_aQtTNCQV_p0LR-NhEG3g24jdKxjr9Op3R0ygIrP1Z0" />
  <title>{{ .Site.Title -}}</title>

  <!-- Fonts for the theme -->
  <link href="https://fonts.googleapis.com/css?family=Oxygen|Oxygen+Mono:300,400,700" rel="stylesheet">

  <!-- Theme stylesheet, you can customize scss by creatig `assets/custom.scss` in your website -->
  {{ $styles := resources.Get "book.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">

  <!-- Favicon -->
  <link rel="icon" href="{{ "icons/favicon.png" | relURL }}" type="image/x-icon">

  <!-- RSS -->
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ "<!--" | safeHTML }}
  Made with Book Theme
  https://github.com/alex-shpak/hugo-book
  {{ "-->" | safeHTML }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</head>

<body class="docs-home">
  <main>
    <div id="site-nav">
      <div class="header-wrapper flex">
        <a href="/">
          <img src="/header-logo.png" alt="Cumulus Networks">
          <img src="/cumulus-networks-rt-white.svg" alt="Cumulus Networks" class="header-mobile">
        <span>Docs</span>
        </a>
        <ul class="flex">
          <li><a href="//cumulusnetworks.com">HOME</a></li>
          <li><a href="//support.cumulusnetworks.com/">SUPPORT</a></li>
          <li><a href="//docs.cumulusnetworks.com/">DOCS</a></li>
          <li><a href="//education.cumulusnetworks.com">EDUCATION</a></li>
          <li><a href="//cumulusnetworks.com/blog/">BLOG</a></li>
          <li><a href="//forums.cumulusnetworks.com/">FORUMS</a></li>
        </ul>
        <div class="burger-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <header class="home-banner" style="background-image: url(/docs-home-bg.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Documentation</h1>
          </div>
        </div>
      </div>
    </header>
    <section class="bg-athens-gray-white">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h3 class="header-fancy">
              <span>Get Started</span>
            </h3>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 mb-5 mb-lg-0">
            <a href="/cumulus-linux/"><img src="/home-products-cumulus-linux.jpg" alt="Cumulus Linux" class="mb-6"></a>
            <h3>Cumulus Linux</h3>
            <p class="small">An open network operating system designed for efficiency, automation and scale</p>
            <ul>
              <li><a href="/cumulus-linux/">User guide</a></li>
              <li><a href="/cumulus-linux/Quick-Start-Guide">Quick start guide</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 mb-5 mb-lg-0">
            <a href="/cumulus-netq/"><img src="/home-products-netq.jpg" alt="Cumulus NetQ" class="mb-6"> </a>
            <h3>Cumulus NetQ</h3>
            <p class="small">A highly-scalable, modern network operations tool set that provides visibility into your network</p>
            <ul>
              <li><a href="/cumulus-netq/Cumulus-NetQ-Deployment-Guide/">Deployment guide</a></li>
              <li><a href="/cumulus-netq/Cumulus-NetQ-Integration-Guide/">Integration guide</a></li>
              <li><a href="/cumulus-netq/Cumulus-NetQ-UI-User-Guide/">GUI user guide</a></li>
              <li><a href="/cumulus-netq/Cumulus-NetQ-CLI-User-Guide/">CLI user guide</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 mb-5 mb-lg-0">
            <a href="/cumulus-vx/"><img src="/home-products-cumulus-express.jpg" alt="Cumulus Express" class="mb-6"></a>
            <h3>Cumulus VX</h3>
            <p class="small">A free virtual appliance &mdash; download and build a virtual data center using any popular hypervisor</p>
            <ul>
              <li><a href="/cumulus-vx">Overview</a></li>
              <li><a href="/cumulus-vx/Getting-Started/">Getting started</a></li>
              <li><a href="/cumulus-vx/Development-Environments/">Development environments</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-athens-gray-white pb-0">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h3 class="header-fancy">
              <span>Additional Resources</span>
            </h3>
          </div>
          <div class="col-12 mb-3">
            <div class="card-deck">
              <div class="card">
                <a href="https://cumulusnetworks.com/hcl/"></a>
                <h3><img src="/server.svg">Hardware Compatibility List</h3>
                <p>See all the platforms that Cumulus Linux and Cumulus RMP support.</p>
                <span>View our HCL <svg width="15" height="8" viewBox="0 0 15 8"><g stroke="#00AD69" stroke-width=".75" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M10.931.361l2.79 3.637-2.79 3.636M13.721 3.998H.888"/></g></svg></span>
              </div>
              <div class="card">
                <a href="https://cumulusnetworks.com/support/"></a>
                <h3><img src="/headphones-customer-support.svg">Support</h3>
                <p>View our various support offerings, including submitting tickets, participating in the community, reading the knowledge base and keeping up with security announcements.</p>
              <span> See support items <svg width="15" height="8" viewBox="0 0 15 8"><g stroke="#00AD69" stroke-width=".75" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M10.931.361l2.79 3.637-2.79 3.636M13.721 3.998H.888"/></g></svg></span>
              </div>
              <div class="w-100 d-none d-sm-block d-xl-none mb-4"><!-- wrap every 2 on sm--></div>
              <div class="card">
                <a href="https://support.cumulusnetworks.com/hc/en-us/sections/200398876-Release-Notes"></a>
                <h3><img src="/book-open.svg">Release notes</h3>
                <p>Release notes provide information on all the new features, fixed and new known issues for every product release.</p>
                <span>View release notes <svg width="15" height="8" viewBox="0 0 15 8"><g stroke="#00AD69" stroke-width=".75" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M10.931.361l2.79 3.637-2.79 3.636M13.721 3.998H.888"/></g></svg></span>
              </div>
              <div class="card">
                <a href="/contributor-guide/"></a>
                <h3><img src="/check-double.svg">Contribute</h3>
                <p>Add or update content in the Cumulus Networks technical documentation. </p>
                <span>Learn more <svg width="15" height="8" viewBox="0 0 15 8"><g stroke="#00AD69" stroke-width=".75" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M10.931.361l2.79 3.637-2.79 3.636M13.721 3.998H.888"/></g></svg></span>
              </div>
            </div>
          </div>
        <div class="col-12 mt-5">
            <!-- <div class="resources-search"> -->
              <!-- <input type="text" class="resources-search-input" placeholder="Search the documentation" value="">
              <button type="submit">Search</button> -->

              <script async src="https://cse.google.com/cse.js?cx=002929300794741444210:sy0sz3qlwdc"></script>
              <div class="gcse-searchbox-only" enableAutoComplete="true" data-resultsUrl="/search/"></div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </section>
    <section class="pt-5 pb-5 mobile-center">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h3 class="header-fancy">
                <span>Additional Products and Resources</span>
              </h3>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <h3>Cumulus RMP</h3>
              <ul>
                <li><a href="/cumulus-rmp">Overview</a></li>
                <li><a href="/cumulus-rmp/Quick-Start-Guide/">Quick start guide</a></li>
              </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <h3>Chassis</h3>
              <ul>
                <li><a href="/chassis">Overview</a></li>
                <li><a href="/chassis/Chassis-Default-Configurations/">Default configurations</a></li>
                <li><a href="/chassis/Chassis-specific-Commands/">Chassis-specific commands</a></li>
              </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <h3>Other Resources</h3>
                <ul>
                  <li><a href="/contributor-guide/">Contributor guide</a></li>
                  <li><a href="/guides/">Technical guides</a></li>
                </ul>
            </div>
          </div>
        </div>
      </section>
    <!-- <div class="book-home markdown">

      {{ .Content }}
    </div> -->
  </main>
  <footer class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="footer-content">
              <div class="mb-4">
                  <img src="https://static.cumulusnetworks.com/static/images/shared/cumulus-networks-rt-white-trademarked.ff839f1b2570.svg">
                  <p>© <script type="text/javascript">document.write(new Date().getFullYear());</script> Cumulus Networks.<br>
                  Site by <a href="//unomena.com/" target="_blank">Unomena</a>.</p>
              </div>
              <ul class="mb-4">
                <li><h4>Products</h4></li>
                <li><a href="//cumulusnetworks.com/products/cumulus-linux/">Cumulus Linux</a></li>
                <li><a href="//cumulusnetworks.com/products/netq/">Cumulus NetQ</a></li>
                <li><a href="//cumulusnetworks.com/products/cumulus-express/">Cumulus Express</a></li>
              </ul>
              <ul class="mb-4">
                <li><h4>Learn</h4></li>
                <li><a href="//cumulusnetworks.com/learn/web-scale-networking-education/">Going web-scale</a></li>
                <li><a href="//cumulusnetworks.com/learn/events/">Events</a></li>
                <li><a href="//cumulusnetworks.com/blog/">Blog</a></li>
              </ul>
              <ul class="mb-4">
                <li><h4>About</h4></li>
                <li><a href="//cumulusnetworks.com/about/">Our story</a></li>
                <li><a href="//cumulusnetworks.com/about/careers/">Careers</a></li>
                <li><a href="//cumulusnetworks.com/about/media-coverage/">Media coverage</a></li>
                <li><a href="//docs.cumulusnetworks.com/" target="_blank">Tech docs</a></li>
                <li><a href="//cumulusnetworks.com/community/">Community</a></li>
              </ul>
              <ul>
                <li>
                  <a href="//twitter.com/CumulusNetworks/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <defs>
                        <style>
                          .a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round}
                        </style>
                      </defs>
                      <path class="a" d="M23 6.628l-2-.5 1-2-2.464.7A4.48 4.48 0 0 0 12 8.128v1c-3.539.73-6.634-1.2-9.5-4.5q-.75 4 1.5 6l-3-.5c.405 2.069 1.362 3.7 4 4l-2.5 1c1 2 2.566 2.31 5 2.5a10.748 10.748 0 0 1-6.5 2c12.755 5.669 20-2.664 20-10V8.3z"></path>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="//www.facebook.com/CumulusNetworks/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <defs>
                        <style>
                        .a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round}
                        </style>
                      </defs>
                      <path class="a" d="M17.768 7.5H13.5V5.6a.972.972 0 0 1 1.012-1.1c.418 0 2.988.01 2.988.01V.5h-4.329C9.244.5 8.5 3.474 8.5 5.355V7.5h-3v4h3v12h5v-12h3.851z"></path>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="//linkedin.com/company/cumulus-networks/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <defs>
                        <style>
                        .a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round}
                        </style>
                      </defs>
                      <path class="a" d="M6.5 22.5h-5v-13h5zm9-9a2 2 0 0 0-2 2v7h-5v-13h5v1.485a6.307 6.307 0 0 1 3.99-1.495c2.962 0 5.01 2.2 5.01 6.355V22.5h-5v-7a2 2 0 0 0-2-2zM6.5 5A2.5 2.5 0 1 1 4 2.5 2.5 2.5 0 0 1 6.5 5z"></path>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="//vimeo.com/CumulusNetworks/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <defs>
                        <style>
                          .a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round}
                        </style>
                      </defs>
                      <path class="a" d="M.5 7.393l.933 1.224S3.36 7.1 4 7.859s3.1 9.925 3.915 11.617c.714 1.483 2.684 3.444 4.845 2.042s9.34-7.529 10.626-14.769-8.642-5.723-9.693.583c2.627-1.577 4.03.642 2.686 3.154s-2.569 4.145-3.211 4.145-1.135-1.679-1.868-4.613c-.76-3.035-.755-8.5-3.911-7.882C4.412 2.721.5 7.393.5 7.393z"></path>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="//www.github.com/cumulusnetworks/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <defs>
                          <style>
                          .a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round}
                          </style>
                      </defs>
                      <path class="a" d="M19.459 17c0-5.969-4.126-3.532-7.5-3.532s-7.5-2.375-7.5 3.532a3.5 3.5 0 0 0 3.5 3.5h8a3.5 3.5 0 0 0 3.5-3.5z"></path>
                      <path class="a" d="M21.489 10.214l.032.023s2.646-4.572-.6-7.237c-2 0-5.058 3.3-5.058 3.3l.022.016A14.152 14.152 0 0 0 8.1 6.3C8.083 6.285 5.037 3 3.042 3c-3.173 2.6-.729 7.012-.614 7.217a8.876 8.876 0 0 0-1.395 5.743c.241 3.126 2.847 6.54 5.982 6.54H16.9c3.135 0 5.742-3.414 5.982-6.54a8.857 8.857 0 0 0-1.393-5.746z"></path>
                      <ellipse class="a" cx="15.48" cy="17" rx="1" ry="1.5"></ellipse>
                      <ellipse class="a" cx="8.48" cy="17" rx="1" ry="1.5"></ellipse>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="//www.instagram.com/cumulusnetworks/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <defs>
                          <style>
                          .a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round}
                          </style>
                      </defs>
                      <rect class="a" x=".5" y=".5" width="23" height="23" rx="6" ry="6"></rect>
                      <circle class="a" cx="12" cy="12" r="6"></circle>
                      <circle class="a" cx="19" cy="5" r="1.5"></circle>
                    </svg>
                  </a>
                </li>
                <li>
                  <p>Cumulus Networks<sup>®</sup> — Data center networking software for the open, modern data center.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="footer-bottom mobile-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li><a href="//cumulusnetworks.com/legal/trademarks/">Trademarks</a></li>
                        <li><a href="//cumulusnetworks.com/legal/privacy/">Privacy</a></li>
                        <li><a href="//cumulusnetworks.com/legal/">Terms of service</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

  {{ template "_internal/google_analytics_async.html" . }}
  <script type="text/javascript">
    (function() {
      var didInit = false;
      function initMunchkin() {
        if(didInit === false) {
          didInit = true;
          Munchkin.init('628-LMQ-951');
        }
      }
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//munchkin.marketo.net/munchkin.js';
      s.onreadystatechange = function() {
        if (this.readyState == 'complete' || this.readyState == 'loaded') {
          initMunchkin();
        }
      };
      s.onload = initMunchkin;
      document.getElementsByTagName('head')[0].appendChild(s);
    })();
  </script>
  <script>
       window._6si = window._6si || [];
       window._6si.push(['enableEventTracking', true]);
       window._6si.push(['setToken', '520947e1dc042c7896ad79e98cc7702e']);
       window._6si.push(['setEndpoint', 'b.6sc.co']);

       (function() {
           var gd = document.createElement('script');
           gd.type = 'text/javascript';
           gd.async = true;
           gd.src = '//j.6sc.co/6si.min.js';
           var s = document.getElementsByTagName('script')[0];
           s.parentNode.insertBefore(gd, s);
       })();
   </script>

   <script>
    window.onload = function(){
      document.getElementById('gsc-i-id1').placeholder = 'Search the docs. For better results, include your version number in your query.';
    };
   </script>

  <script>
    (function(w,d,s){var f=d.getElementsByTagName(s)[0],j=d.createElement(s);j.async=true;j.src='//embeddable-widgets-usw2.insided.com/cumulusnetworks-en.insided-conversational.js';f.parentNode.insertBefore(j,f);})(window,document,'script');
  </script>

</body>

</html>
