{{ if .Site.IsServer }}
  {{ if .IsNamedParams }}
  <img src="{{.Get "src" }}" alt="{{.Get "alt"}}" width = "{{.Get "width"}}" height = "{{.Get "height"}}" >
  {{ else }}
  <img src="{{.Get 0}}" alt="">
  {{ end }}
{{ else }}
  {{ if .IsNamedParams }}
  <img src="https://dkahegywkrw3e.cloudfront.net{{.Get "src" }}" alt="{{.Get "alt"}}" width = "{{.Get "width"}}" height = "{{.Get "height"}}" >
  {{ else }}
  <img src="https://dkahegywkrw3e.cloudfront.net{{.Get 0}}" alt="">
  {{ end }}

{{ end }}
